html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}

/* footer 역할을 하는 container를 화면 하단에 고정 */
.footer {
    background-color: #a80808;
    color: white;
    padding: 20px;
}


.colLine {
    padding-top:4px;
    padding-bottom:4px;
    border-bottom: 1px solid #CCCCCC;
}
